{ 
    "presets": [ 
        "@babel/preset-typescript" 
    ], 
    "env": { 
        "react": { 
            "presets": [ 
                "@babel/preset-react" 
            ] 
        }, 
        "vue": { 
            "plugins": [ 
                "@vue/babel-plugin-jsx" 
            ] 
        } 
    } 
} 